body {
    font-family: "Fira Mono", "Menlo", "Consolas", "Liberation Mono", "Courier New", monospace;
}

.img-2-col {
    display: flex;
    gap: 5px; /* 图片间距，可调整 */
    justify-content: center; /* 居中可选 */
}

.img-2-col img {
    width: 50%; /* 每张图片宽度，可调整 */
    height: auto;
    border-radius: 13px; /* 圆角可选 */
}