---
layout: default
---
<!-- _layouts/post.html -->
{%- assign year = page.date | date: "%Y" -%}
{%- assign tags = page.tags | join: "" -%}
{%- assign categories = page.categories | join: "" -%}
{%- assign signature = page.signature -%}

{% if page._styles %}
<!-- Page/Post style -->
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h3 class="post-title">{{ page.title }}</h3>
    <div style="display: flex">
      <div style="margin-right: 20px"class="post-meta">
        {{ page.date | date: "%B %-d, %Y" }}{%- if page.author -%} • {{ page.author }}{%- endif -%}{%- if page.meta -%} • {{ page.meta }}{%- endif -%}
      </div>
      <!-- <div class="post-tags" style="width: 500px; display: flex">
          <a style="margin-right: 20px;" href="{{ year | prepend: '/blog/' | prepend: site.baseurl}}"> <i class="fas fa-calendar fa-sm"></i> {{ year }} </a>
          {%- if tags != "" %}
            {% for tag in page.tags -%}
            <a style="margin-right: 20px" href="{{ tag | slugify | prepend: '/blog/tag/' | prepend: site.baseurl}}">
              <i class="fas fa-hashtag fa-sm"></i> {{ tag }}</a> 
              {% endfor -%}
          {% endif %}

          {%- if categories != "" %}
            {% for category in page.categories -%}
            <a style="margin-right: 20px" href="{{ category | slugify | prepend: '/blog/category/' | prepend: site.baseurl}}">
              <i class="fas fa-tag fa-sm"></i> {{ category }}</a> 
              {% endfor -%}
          {% endif %}
      </div> -->
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="post_signature">
    {{signature}}
  </div>

  {% include valineComment.html %}

</div>
